<section class="chat-rooms">
    <h1>Bloc Chat</h1>
    <div>
        <button type="button" ng-click="home.open()">New Room</button>
    </div>
    <nav>
        <ul>
            <li ng-repeat='room in home.rooms' ng-click="home.setCurrentRoom(room)">{{room.name}}</li>
        </ul>
    </nav>
</section>
<section class="chat-messages">
    <h1>Chat Room #</h1>
    <ul ng-repeat="message in home.currentMessages">
        <li>{{message.username}}</li>
        <li>{{message.content}}</li>
        <li>{{message.sentAt}}</li>
    </ul>
</section>
